<!DOCTYPE html>
<html>

	<head>

		<meta charset = "utf-8">

		<title>Carleton SRT</title>

		<!-- Stylesheets, both for the website and for Jquery UI objects. -->
		<link rel="stylesheet" href = "{{ url_for('static',	filename = 'style.css') }}">

		<link rel="stylesheet" href = "{{ url_for('static', filename = 'jquery-ui-1.12.1.custom/jquery-ui.css') }}">

		<!-- Jquery and custom scripts. -->
		<script src="{{ url_for('static', filename = 'jquery-ui-1.12.1.custom/external/jquery/jquery.js') }}"></script>

		<script src="{{ url_for('static', filename = 'jquery-ui-1.12.1.custom/jquery-ui.min.js') }}"></script>

		<script src="{{ url_for('static', filename = 'srt.js') }}"></script>

		<!-- Individual pages will replace style and script components with the replace id with the styles and scripts for those pages. -->
		<script id="replace"></script>

	</head>

	<body>

		<!-- Website title and navigation bar. -->
		<header>

			<h1>Carleton Small Radio Telescope</h1>

			<div class = "navmenu">

					<div id = "home" class = "current">Home</div>

					<div id = "scan">Scan</div>

					<div id = "config">Configure</div>

			</div>

		</header>

		<!-- Main content of each page, filled by the srt.js script via ajax requests. -->
		<main>

			<p></p>

		</main>

		<!-- Sidebar containing basic telescope state info, updated via ajax requests. -->
		<div class = "statusbar">
			
			<h3>Status</h3>

			<hr>

			<p>Current Az/Al</p>

			<div id = "azal">
				
				<p id = "az">Az: </p>
				<p id = "al">Al: </p>
				
			</div>

			<hr>

			<p>Current Scan</p>

			<div id = "scaninfo">
				
				<p id="name">Name: </p>
				
				<p id="starttime">Start: </p>
				
				<p id="endtime">End: </p>
				
			</div>
			
			<div id="noactive">
			
				<p>None</p>
			
			</div>

		</div>

		<div id="warning" title="Warning">

		</div>

		<!-- Footer containing some website info. -->
		<footer>

			<p>Footer text</p>

		</footer>


	</body>
</html>
