
/* Whole-page style. */
html {
	background-color: #303030;
	font-family: "Trebuchet MS", Verdana, sans-serif;
}

/* Style for the login dialog. */
.no-close .ui-dialog-titlebar-close {
	display: none;
}
.ui-dialog .ui-state-error {
	padding: 0.3em;
}
.validateTips {
	border: 1px solid transparent;
	padding: 0.3em;
}
